<h1>Templates: Dinámicos</h1>
<hr>

<div class="">
    <form class="" (ngSubmit)="guardar()">

        <!-- nombre -->
        <div class="row">
            <div class="col-sm-3">
                <span>Nombre</span>
            </div>
            <div class="col-sm-9">
                <input type="text" name="nombre" id="" placeholder="Nombre de la persona" class="form-control">
            </div>
        </div>

        <button type="button" class="btn btn-primary float-end my-1" (click)="guardar()">Guardar</button>
    </form>
</div>